@charset "UTF-8";

div.container {
  min-width: 826px;
  grid-template-rows: 1fr 2fr;
  gap: 20px 0px;
}

div.introduction-container {
  margin: auto;
}

div.rating ul {
  width: auto;
}

div.rating ul li:nth-child(1) {
  align-self: flex-start;
}

div.rating ul li:nth-child(2) {
  align-self: flex-start;
}

div.rating ul li:nth-child(3) {
  align-self: flex-start;
}

div.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 0px;
  justify-items: center;
}

div.feedback article:nth-child(1) {
  align-self: center;
}

div.feedback article:nth-child(2) {
  align-self: center;
}

div.feedback article:nth-child(3) {
  align-self: center;
  grid-column: span 2;
}
